<mat-card fxFlex style="width: 50%">
  <mat-card-content>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <span fxFlex>
              Event Name: Diwali
            </span>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <span fxFlex matLine>
                Event date: 12/12/2017
              </span>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
      <span fxFlex></span>
      <button mat-raised-button color="accent" (click)=" callShowMethod ? showEventDetails() : hideEventDetails()">
        <mat-icon>{{showIcon}}</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
      <div *ngIf="showEvents">
        <event-item-details></event-item-details>
      </div>
    </div>
  </mat-card-content>
</mat-card>
