<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="home-create-div">
    <span fxFlex></span>
    <button mat-raised-button color="warn" class="mat-elevation-z8">Create Event</button>
</div>

<div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px" class="home-create-div">  
    <events class="mat-elevation-z8"></events>

    <events class="mat-elevation-z8"></events>

    <events class="mat-elevation-z8"></events>

    <events class="mat-elevation-z8"></events>

    <events class="mat-elevation-z8"></events>
</div>